[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ankurpandey19
[access "refs/for/refs/*"]
	read = group user/ankurpandey19
	push = group user/ankurpandey19
	label-Code-Review = -2..+2 group user/ankurpandey19
	label-Verified = -1..+1 group user/ankurpandey19
	rebase = group user/ankurpandey19
	removeReviewer = group user/ankurpandey19
	submit = group user/ankurpandey19
[access "refs/heads/*"]
	read = group user/ankurpandey19
	create = group user/ankurpandey19
	push = +force group user/ankurpandey19
	pushMerge = group user/ankurpandey19
[access "refs/tags/*"]
	push = +force group user/ankurpandey19
	pushTag = group user/ankurpandey19
	pushSignedTag = group user/ankurpandey19
